/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general style */
body    {
    background-color: white;
    font-family: fredoka;
}

/* header */
h1  {
    color: rgb(211, 67, 112);
}

header  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* intro */
.intro  {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* prima riga cards */
.row    {
    width: 90%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col    {
    float: left;
    width: calc(100% / 3);
    padding: 0 5px;
}

/* stile card */
.card   {
    background-color: black;
    height: 100%;
}

img {
    float: left;
}

.col::after {
    content: "";
    display: table;
    clear: both;
}

.card    {
    color: white;
    margin-top: 10px;
}

span    {
    color: lightblue;
}