/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general style */
body    {
    background-color: white;
}

/* header */
h1  {
    color: rgb(211, 67, 112);
}

header  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* intro */
.intro  {
    text-align: center;
}

/* prima riga cards */
.row    {
    width: 80%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col    {
    float: left;
    width: calc(100% / 3);
    /* debug rules 
    background-color: aqua;
    border: solid 1px black;
    height: 200px;
    */
}